{% extends "base.html.twig" %}

{% block title %}
	Modification de compte
{% endblock %}
{% block body %}

	<div class="container-fluid">

		{% include "admin/partials/miniHeader.html.twig"  with { Title  : 'Modification utilisateur', GoBack : 'Liste des utilisateurs', Link : path('AdminUser.index') } %}
		
		<div class="container">
		

			{{ form_start(form) }}
			<div class="row">
				<div class="col">
					<div class="alert alert-light">
						<h2 class="alert-heading">Changement d'informations</h2>
						<hr>
						
						{{ form_widget(form) }}
				
						<button type="submit" class="btn btn-primary mt-4">
							<i class="fas fa-check"></i>
							Confirmez le changement
						</button>
				</div>
					</div>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
