{% extends "base.html.twig" %}

{% block title %}
	Archive
{% endblock %}

{% block body %}

	<div class="container-fluid">

		<h1 class="h1 text-center my-5">Archives</h1>

		<div class="row">
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title h3">Comptes utilisateurs</h5>
						<p class="card-text">En utilisant ce service vous aurez accès aux comptes utilisateurs qui ne sont plus disponible dans l'application</p>
						<a href="{{ path('AdminArchive.users') }}" class="btn btn-primary">Accéder au service</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title h3">Matériels</h5>
						<p class="card-text">En utilisant ce service vous aurez accès aux matériels qui ne sont plus disponible dans l'application</p>
						<a href="#" class="btn btn-primary">Accéder au service</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
