{% extends "base.html.twig" %}

{% block title %}
    Nouveau site
{% endblock %}

{% block body %}
   <div class="container-fluid my-5">
        {% include "admin/partials/miniHeader.html.twig"  with { Title  : 'Nouveau site', GoBack : 'Liste des sites', Link : path('AdminLocation.index') } %}

        {% include "admin/forms/_add.html.twig"  %}
   </div>
{% endblock %}