{% extends "base.html.twig" %}

{% block title %}
	Intervention
{% endblock %}

{% block body %}

	<div class="container-fluid">

		<h1 class="h1 text-center my-5">Intervention</h1>

		<div class="row">
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title h3">Départ en intervention</h5>
						<p class="card-text">Onglet consacré au départ des interventions</p>
						<a href="#" class="btn btn-primary">Accéder au service</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title h3">Retour d'intervention</h5>
						<p class="card-text">Onglet consacré au retour des interventions</p>
						<a href="#" class="btn btn-primary">Accéder au service</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
