{% extends "base.html.twig" %}

{% block title %}
    Nouvelle marque
{% endblock %}

{% block body %}
   <div class="container-fluid my-5">
        {% include "admin/partials/miniHeader.html.twig"  with { Title  : 'Nouvelle marque', GoBack : 'Liste des marques', Link : path('AdminMark.index') } %}

        {% include "admin/forms/_add.html.twig"  %}
   </div>
{% endblock %}