{% extends "base.html.twig" %}

{% block title %}
    Nouveau type
{% endblock %}

{% block body %}
   <div class="container-fluid my-5">
        {% include "admin/partials/miniHeader.html.twig"  with { Title  : 'Nouveau type', GoBack : 'Liste des type', Link : path('AdminType.index') } %}

        {% include "admin/forms/_add.html.twig"  %}
   </div>
{% endblock %}