{% extends "base.html.twig" %}

{% block title %}
    Accueil administration
{% endblock %}

{% block body %}
    <container class="fluid">
        <h1 class="h1">Acceuil admin</h1>
    </container>
{% endblock %}