{% extends "base.html.twig" %}

{% block title %}
	Administration
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<h1 class="h1 my-5">Gestion de l'application</h1>

		<table class="table table-hover administration">
			<thead>
				<tr>
					<th>Entité</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>Utilisateurs</td>
					<td class="d-flex justify-content-end">
						<a href="{{ path('AdminUser.add') }}" class="btn btn-success mr-2">Ajouter</a>
						<a href="{{path('AdminUser.index')}}" id="delete-comment" class="btn btn-primary ml-2">Voir liste</a>
					</td>
				</tr>
				<tr>
					<td>Matériels</td>
					<td class="d-flex justify-content-end">
						<a href="#" class="btn btn-success mr-2">Ajouter</a>
						<a href="#" id="delete-comment" class="btn btn-primary ml-2">Voir liste</a>
					</td>
				</tr>
				<tr>
					<td>Marques</td>
					<td class="d-flex justify-content-end">
						<a href="#" class="btn btn-success mr-2">Ajouter</a>
						<a href="#" id="delete-comment" class="btn btn-primary ml-2">Voir liste</a>
					</td>
				</tr>
				<tr>
					<td>Statuts</td>
					<td class="d-flex justify-content-end">
						<a href="#" class="btn btn-success mr-2">Ajouter</a>
						<a href="#" id="delete-comment" class="btn btn-primary ml-2">Voir liste</a>
					</td>
				</tr>
				<tr>
					<td>Types</td>
					<td class="d-flex justify-content-end">
						<a href="#" class="btn btn-success mr-2">Ajouter</a>
						<a href="#" id="delete-comment" class="btn btn-primary ml-2">Voir liste</a>
					</td>
				</tr>
				<tr>
					<td>Spécificités</td>
					<td class="d-flex justify-content-end">
						<a href="#" class="btn btn-success mr-2">Ajouter</a>
						<a href="#" id="delete-comment" class="btn btn-primary ml-2">Voir liste</a>
					</td>
				</tr>
				<tr>
					<td>Sites</td>
					<td class="d-flex justify-content-end">
						<a href="#" class="btn btn-success mr-2">Ajouter</a>
						<a href="#" id="delete-comment" class="btn btn-primary ml-2">Voir liste</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>


{% endblock %}
