{% extends "base.html.twig" %}

{% block title %}
    Nouvelle spécificité
{% endblock %}

{% block body %}
   <div class="container-fluid my-5">
        {% include "admin/partials/miniHeader.html.twig"  with { Title  : 'Nouvelle spécificité', GoBack : 'Liste des spécificités', Link : path('AdminSpecificity.index') } %}

        {% include "admin/forms/_add.html.twig"  %}
   </div>
{% endblock %}